body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#807597, #9A8FB0, #B4A9C9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/hexagone2.svg");
    width: 428px;
    height: 415px;
    text-align: center;
}

.login-content{
    width: 450px;
    padding: 30px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input-group label {
    margin-right: 10px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #4b0082;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #8a2be2;
}
.btn-register {
    background: #4b0082;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}

.btn-register:hover {
    background: #8a2be2;
}